

html {
  zoom: 0.82;

}

body{ 
  position:relative;
  margin: 0 auto;

  overflow-y: scroll;
  width: 1080px;
  max-width: 1080px;
  height:20000px;
  background:  rgb(0, 0, 0);
  border: solid 2px ;
  border-color: white;
  font-family: "Century Gothic", sans-serif;

}

#barradiricerca {
  position: absolute;
  margin:  auto;
  width: 1078px;
  height: 50px;
  background-color: rgb(0, 0, 0);



}
#pags{
font-size: 30px;
position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px white solid;
  padding:10px;
  height:70px;
  width: 1057px;
  top:-33px;
  
}
.hover-red:hover {
  color: rgb(153, 3, 3);
}

#titolo{
  position:absolute;
  top:110px;
  left:35px;
  color: white;
}

.titoli{
  list-style-type: disc;
 margin-bottom: 10px;
}

 #titolo {
   color: white;
 }

 #titolo:hover {
   color: rgb(153, 3, 3);
 }

 #titolo::first-letter {
   color:rgb(153, 3, 3);
 }


.docu{
position: relative;
color:#fafafa;
font-size: 17px;
top: 205px;
left: 15px;
margin-right: 10px;
max-width: 90%;
}

.docutitolo{
position: relative;
color: #fafafa;
font-size: 25px;
top: 210px;
left: 15px;
max-width: 90%;

}

#albero{
  position:relative;
  max-width: 80%;
  max-height: 25%;
  top: 230px;
  left: 90px;
  
}

#wtitolo{
  position: relative;
color: #fafafa;
font-size: 25px;
top: 215px;
left: 15px;
max-width: 90%;
text-align: center;

}
#w1{
position: relative;
    top: 200px;
    left: 62px;
    max-width: 80%;
    max-height: 25%
}


#w2{
position: relative;
    top: 250px;
    left: 73px;
    max-width: 40%;
    max-height: 30%;
  }
  
  #w3{
   position: relative;
    top: 207px;
    left: 90px;
    max-width: 40%;
    max-height: 30%;
    }
   
    #w4{
     position: relative;
    top: 331px;
    left: 315px;
    max-width: 40%;
    max-height: 30%;
      }
      
      #w44{
    position: relative;
    top: 730px;
    left: 26px;
    max-width: 26%;
    max-height: 20%;
      }
     
       #w5{
       position: relative;
    top: 300px;
    left: 91px;
    max-width: 40%;
    max-height: 30%;
        }
        
  
        #w6{
     position: relative;
    top: 836px;
    left: 230px;
    max-width: 40%;
    max-height: 30%;
          }
          
          #w7{
    position: relative;
    top: 364px;
    left: 92px;
    max-width: 40%;
    max-height: 30%;
            }
            
            #w8{
    position: relative;
    top: 897px;
    left: 231px;
    max-width: 40%;
    max-height: 30%;
              }
              
              #w9{
    position: relative;
    top: 416px;
    left: 92px;
    max-width: 40%;
    max-height: 30%;
                }
          

#titw1 {
  position: absolute;
  top: 1598px;
  color: #fafafa;
  font-size: 20px;
  left: 309px;
}
#titw2 {
  position: absolute;
  top: 1559px;
  color: #fafafa;
  font-size: 20px;
  left: 729px;
}

#titw3 {
  position: absolute;
    top: 2231px;
    color: #fafafa;
    font-size: 20px;
    left: 200px;
}

#titw4 {
  position: absolute;
  top: 2231px;
  color: #fafafa;
  font-size: 20px;
  left: 761px;
}

#titw5 {
  position: absolute;
  top: 2818px;
  color: #fafafa;
  font-size: 20px;
  left: 191px;
}

#titw6 {
  position: absolute;
    top: 3366px;
    color: #fafafa;
    font-size: 20px;
    left: 160px;
}

#titw7 {
  position: absolute;
    top: 3366px;
    color: #fafafa;
    font-size: 20px;
    left: 785px;
}

#titw8 {
  position: absolute;
    top: 3896px;
    color: #fafafa;
    font-size: 20px;
    left: 773px;
}

#titw9 {
  position: absolute;
    top: 3896px;
    color: #fafafa;
    font-size: 20px;
    left: 199px;
}



#lf{
position:relative;
top: 500px;
color: #fafafa;
font-size: 25px;
left: 15px;
max-width: 90%;
}

#lftext{
position: relative;
top: 520px;
color:#fafafa;
font-size: 17px;
left: 15px;
margin-right: 10px;
max-width: 90%;
}

#lstitolo{
position: relative;
color: #fafafa;
font-size: 25px;
top: 550px;
left: 15px;
max-width: 90%;
}

.lstext{
position: relative;
top: 570px;
color:#fafafa;
font-size: 17px;
left: 15px;
margin-right: 10px;
max-width: 90%;
}

#titolocom{
position:relative;
top: 610px;
color: #fafafa;
font-size: 25px;
left: 15px;
max-width: 90%;
}

#background{
position:relative;
top: 615px;
color: #fafafa;
font-size: 25px;
left: 15px;
max-width: 90%;
}
.btext{
position: relative;
top: 635px;
color:#fafafa;
font-size: 17px;
left: 15px;
margin-right: 10px;
max-width: 90%;
}

#oc{
position:relative;
top: 600px;
color: #fafafa;
font-size: 25px;
left: 15px;
max-width: 90%;
}

#octext{
  position: relative;
  top: 620px;
  color:#fafafa;
  font-size: 17px;
  left: 15px;
  margin-right: 10px;
  max-width: 90%;
}


.titf{
position:relative;
top: 670px;
color: #fafafa;
font-size: 25px;
left: 15px;
max-width: 90%;
}

.textf{
position: relative;
top: 675px;
color:#fafafa;
font-size: 17px;
left: 15px;
margin-right: 10px;
max-width: 90%;
}
#volantino{
  position:relative;
  top: 680px;
  left: 20px;
  max-width: 30%;
  max-height: 30%;
  }

#insta{
position: relative;
top: 680px;
max-width: 40%;
max-height: 40%;
}

#google{
position: relative;
top: 680px;
max-width: 50%;
max-height: 50%;
}

#telegram{
  position: relative;
  top: 690px;
  left:86px;
  max-width: 30%;
  max-height: 30%;
}
#meta{
  position: relative;
  top: 454px;
  left: 207px;
  max-width: 40%;
  max-height: 40%;
}
