

html {
  zoom: 0.82;

}

body{ 
  position:relative;
  margin: 0 auto;
  overflow-y: scroll;
  width: 1080px;
  max-width: 1080px;
  height:10000px;
  background:  rgb(0, 0, 0);
  border: solid 2px ;
  border-color: white;
  font-family: "Century Gothic", sans-serif;

}

#barradiricerca {
  position: absolute;
  margin:  auto;
  width: 1078px;
  height: 50px;
  background-color: rgb(0, 0, 0);



}
#pags{
font-size: 30px;
position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px white solid;
  padding:10px;
  height:70px;
  width: 1057px;
  top:-33px;
  
}
.hover-red:hover {
  color: rgb(153, 3, 3);
}
nav ul {
  list-style-type: none;
}

nav li {
  display: inline-block;
  margin-right: 20px;
  color:rgb(0, 0, 0);
  text-decoration: none;
}

a:hover {
  /*COLORE LINK*/
  color: rgb(153, 3, 3);
}

#titolo{
  position:absolute;
  top:110px;
  left:35px;
  color: white;
}

.titoli{
  list-style-type: disc;
 margin-bottom: 10px;
}

 #titolo {
   color: white;
 }

 #titolo:hover {
   color: rgb(153, 3, 3);
 }

 #titolo::first-letter {
   color:rgb(153, 3, 3);
 }


.docu{
position: relative;
color:#fafafa;
font-size: 17px;
top: 205px;
left: 15px;
margin-right: 10px;
max-width: 90%;
}

.docutitolo{
position: relative;
color: #fafafa;
font-size: 25px;
top: 210px;
left: 15px;
max-width: 90%;

}

#albero{
  position:relative;
  max-width: 80%;
  max-height: 25%;
  top: 230px;
  left: 90px;
  
}

#wtitolo{
  position: relative;
color: #fafafa;
font-size: 25px;
top: 215px;
left: 15px;
max-width: 90%;
}
#w1{
  position: relative;
  top: 1%;
  left: 2%;
  max-width: 60%;
  max-height: 25%
}


#w2{
  position: relative;
  top: 3%;
  left: 3%;
  max-width: 40%;
  max-height: 30%;
  }
  
  #w3{
    position: relative;
    top: 1%;
    left: 9%;
    max-width: 40%;
    max-height: 30%;
    }
   
    #w4{
      position: relative;
      top: 3.4%;
      left: 24%;
      max-width: 40%;
      max-height: 30%;
      }
      
      #w44{
     position: absolute;
    top: 31.71%;
    color: #fafafa;
    font-size: 20px;
    left: 64.59%;
      }
     
       #w5{
       position: relative;
    top: 300px;
    left: 91px;
    max-width: 40%;
    max-height: 30%;
        }
        
  
        #w6{
          position: relative;
          top: 8.4%;
          left: 16%;
          max-width: 40%;
          max-height: 30%;
          }
          
          #w7{
            position: relative;
            top: 3.64%;
            left: 9%;
            max-width: 40%;
            max-height: 30%;
            }
            
            #w8{
  position: relative;
    top: 9%;
    left: 16%;
    max-width: 40%;
    max-height: 30%;
              }
              
              #w9{
    position: relative;
    top: 416px;
    left: 92px;
    max-width: 40%;
    max-height: 30%;
                }
          

#titw1 {
  position: absolute;
  top: 16.5%;
  color: #fafafa;
  font-size: 20px;
  left: 25%;
}
#titw2 {
  position: absolute;
  top: 16.5%;
  color: #fafafa;
  font-size: 20px;
  left: 68%;
}

#titw3 {
  position: absolute;
    top: 24%;
    color: #fafafa;
    font-size: 20px;
    left: 21%;
}

#titw4 {
  position: absolute;
  top: 24%;
  color: #fafafa;
  font-size: 20px;
  left: 761px;
}

#titw5 {
  position: absolute;
  top: 30.5%;
  color: #fafafa;
  font-size: 20px;
  left: 19%;
}

#titw6 {
  position: relative;
    top: -6.56%;
    color: #fafafa;
    font-size: 20px;
    left: 65%;
}

#titw7 {
  position: absolute;
    top: 41.7%;
    color: #fafafa;
    font-size: 20px;
    left: 70.5%;
}

#titw8 {
  position: absolute;
  top: 36.3%;
  color: #fafafa;
  font-size: 20px;
  left: 21%;
}

#titw9 {
  position: absolute;
  top: 41.7%;
  color: #fafafa;
  font-size: 20px;
  left: 20%;
}



#lf{
position:relative;
top: 500px;
color: #fafafa;
font-size: 25px;
left: 15px;
max-width: 90%;
}

#lftext{
position: relative;
top: 520px;
color:#fafafa;
font-size: 17px;
left: 15px;
margin-right: 10px;
max-width: 90%;
}

#lstitolo{
position: relative;
color: #fafafa;
font-size: 25px;
top: 550px;
left: 15px;
max-width: 90%;
}

.lstext{
position: relative;
top: 570px;
color:#fafafa;
font-size: 17px;
left: 15px;
margin-right: 10px;
max-width: 90%;
}

#titolocom{
position:relative;
top: 610px;
color: #fafafa;
font-size: 25px;
left: 15px;
max-width: 90%;
}

#background{
position:relative;
top: 615px;
color: #fafafa;
font-size: 25px;
left: 15px;
max-width: 90%;
}
.btext{
position: relative;
top: 635px;
color:#fafafa;
font-size: 17px;
left: 15px;
margin-right: 10px;
max-width: 90%;
}

#oc{
position:relative;
top: 600px;
color: #fafafa;
font-size: 25px;
left: 15px;
max-width: 90%;
}

#octext{
  position: relative;
  top: 620px;
  color:#fafafa;
  font-size: 17px;
  left: 15px;
  margin-right: 10px;
  max-width: 90%;
}


.titf{
position:relative;
top: 670px;
color: #fafafa;
font-size: 25px;
left: 15px;
max-width: 90%;
}

.textf{
position: relative;
top: 675px;
color:#fafafa;
font-size: 17px;
left: 15px;
margin-right: 10px;
max-width: 90%;
}
#volantino{
  position:relative;
  top: 680px;
  left: 391px;
  max-width: 30%;
  max-height: 30%;
  }

#insta{
position: relative;
    top: 680px;
    max-width: 40%;
    max-height: 40%;
    left: 5.9%;
}

#google{
position: relative;
    top: 680px;
    max-width: 50%;
    max-height: 50%;
    left: 7%;
}

#telegram{
  position: relative;
    top: 690px;
    left: 12%;
    max-width: 30%;
    max-height: 30%;
}
#meta{
position: relative;
    top: 3.56%;
    left: 21%;
    max-width: 40%;
    max-height: 40%;
}
#avviso{
  display: none;
}