
  /* Media query per telefoni */
  @media (max-width: 720px) {
body {
    width: 100%;
    height: 2760px;

    overflow-y: auto ;
    border-bottom: none;
  }
 #titolo{
    font-size: 20px;
    top:60px;
    left:8px;
} 
  #logo {
    top: 140px;
    left: 28%;
    max-width: 50%;
    max-height: 50%;
  }

  #barradiricerca {
    width: 100%;
    height: 50px;
    top: 64px;
  }

  #pags {
    position: relative;
    font-size: 14;
    height: 29px;
    width: auto;
    top: -67px;
    padding: 12px;
    margin: 0 auto;
    text-align: center;
    border: 2px solid white;
}
  input[type="text"] {
    top: 94px;
    width: 70%;
    height: -13px;
    margin: 0 auto;
    font-size: 11px;
    padding: 8px;
    border: 1px solid rgb(246, 246, 246);

  }

  #elenco {
       margin: 0 auto;
       top: 109px;
       width: 70%;
       padding: 20px;
       font-size: 11px;
       border: 1px solid rgb(246, 246, 246);
   }

  #titoli{
      font-size: 28px;
  }

#iconamenu{
  scale: 0.8;
  top: -21px;
  left: -84px;
}
.dropdown-content{
  scale: 0.8;
  top: -22px;
  left: 12px;
  
}

.dropdown-container {
  position: relative;
  left: 47%;
  top: 7%;

  display: inline-block;}

                                                /*SCHEDE*/

.container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 89px;
    margin: 25px;
    scale: 0.9;
}
.container .icona1 {
  width: 40%;
  height: 40%;
  cursor: pointer;
  transition: transform 0.3s ease;
  margin: 40px;
}

 #titoloalbum {
  position: absolute;
  color: white;
  left: 11px;
  top: 951px;
  font-size: 12px;
  text-align: left;
}
#section2 {
  position: relative;
  top: 431px;
}

#album {
  position: absolute;
  top: 824px;
  left: 11px;
  max-width: 20%;
  max-height: 20%;
  border: solid 2px;
  border-color: white;
  margin-top: 30px;
  margin-left: 3% auto;
  margin-right: 3% auto;
}
                                                
#descrizionetesto {
  top: 980px;
  max-width: 95%;
  left: 3%;
  font-size: 12px;
}


#autore {
  position: absolute;
  top: 1639px;
  left: 11px;
  max-width: 20%;
  max-height: 20%;
  border: solid 2px;
  border-color: white;
  margin-top: 30px;
  margin-left: 3% auto;
  margin-right: 3% auto;
}
#nomeautore {
  position: absolute;
  color: white;
  left: 11px;
  top: 1763px;
  font-size: 12px;
  text-align: left;
}

#descrizioneautore {
  text-align: left;
  font-size: 12px;
  top: 1796px;
  left: 3%;
  max-width: 80%;
  margin-right: 2%;
}

#section1 {
  position: relative;
  top: 1842px;
}
#ascoltaora {
  display: block;
  position: absolute;
  color: rgba(161,161,161);
  top: 828px;
  left: 11px;
  font-size: 8px;
}
                                                  /*LOGINESIGNUP*/
#accesso{scale:calc(0.8);}

 

}
