
  /* Media query per telefoni */
  @media (max-width: 720px) {
    body {
      width: auto;
      height: 98vh;
      margin: 0;
    }
   #titolo{
      font-size: 20px;
      top:60px;
      left:8px;
    } 
  
    #logo {
      top: 140px;
      left: 28%;
      max-width: 50%;
      max-height: 50%;
    }
  
    #barradiricerca {
      width: 100%;
      height: 50px;
      top: 50px;
    }
  
    #pags {
      position: absolute;
      font-size: 15px;
      height: 16px;
      width: auto;
      top: -67px;
      padding: 22px;
      text-align: center;

       }
  
    input[type="text"] {
      left: 14%;
      top: 370px;
      width: 70%;
      height: -13px;
      font-size:11px;
      padding:8px;
      border:1px solid rgb(246, 246, 246);

    }
  
    #elenco {
      left: 9%;
      right: 8%;
      top: 410px;
      width: 70%;
      padding: 20px;
      font-size: 11px;
    }
    #titoli{
        font-size: 28px;
    }
  #iconamenu{
    scale: 0.8;
    top: -5px;
    left: 161px;
  }
  .dropdown-content{
    scale: 0.8;
    top: -22px;
    left: 12px;
    
  }

  .dropdown-container {
    position: absolute;
    left:278px;
    top: 65px;

    display: inline-block;}

  /*la nostra storia*/

  #scriptstoria{
    position: absolute;
    font-size: 12px;
    top:150px;
    left:3%;
    width:86%;
    border:1px solid rgb(246, 246, 246);

  }
  #scriptstoria2{
    position: relative;
    font-size: 12px;
    top:400px;
    left:3%;
    width:88%;
    border:1px solid rgb(246, 246, 246);

  }
  #versione2{
    font-size: 12px;
    top:580px;
    left:20%;
    width:50%;
    border:1px solid rgb(246, 246, 246);
  }


  /*schede*/
  

  #giacomo {
    position: absolute;
    left: 3%;
    top: 20%;
    font-size: 12;
  }

  #descrizionegia {
    position: absolute;
    left:3%;
    top: 23%;
    font-size: 12px;
}
#francesca {
  position: absolute;
  left: 3%;
  top: 30%;
  color: #ffffff;
  font-size: 12px;
}
#descrizionefra {
  position: absolute;
  left: 3%;
  top: 33%;
  color: #ffffff;
  font-size: 12px;
}
#contattaci {
  position: absolute;
  left: 3%;
  top: 40%;
  font-size: 15px;
}
#contattaci2 {
  position: absolute;
  left: 3%;
  top: 45%;
  font-size: 15px;
}}