
@media (max-width: 720px) {

    body {
        width: 98vw;
        height: 98vh;
        margin: 0;
        text-align: center;
      }


    
        .popup {
            scale: calc(0.8);
            top: 25%;
            left: 40%;
            transform: translate(-50%, -50%);
            background-color: black;
            border: 1px solid white;
            padding: 9px;
            max-width: 400px;
            width: 301px;
  }


form{scale:calc(0.8)}



}






