#ops{
  position: relative;
  font-size: xx-large;
  text-align: center;
  color:white;
  top: 500px;
  margin:0 auto;
}
#giacomo {
  position: absolute;
  left: 35px;
  top: 250px;
  color: #fafafa;
  font-size: 25px;
}

#descrizionegia {
  position: absolute;
  left: 35px;
  top: 275px;
  color: #ffffff;
  font-size: 25px;
}

#francesca {
  position: absolute;
  left:35px;
  top: 355px;
  color: #ffffff;
  font-size: 25px;
}

#descrizionefra {
  position: absolute;
  left:35px;
  top: 380px;
  color: #ffffff;
  font-size: 25px;
}

#contattaci{
  position: absolute;
  left:35px;
  top: 600px;
  color: #ffffff;
  font-size: 25px;
}
#contattaci2{
  position: absolute;
  left:35px;
  top: 640px;
  color: #ffffff;
  font-size: 25px;
}


#contentS {
  position: absolute;
  left: 0px;
  top: 50px;
  color: #fbf7f7;
  font-size: 20px;
  list-style-type: none;
}

#scriptstoria {
  position: absolute;
  left: 235px;
  right:235px;
  color:#fbf7f7;
  font-size: 20px;
  list-style-type: none;
  padding-left: 6%;
  padding-right: 6%;
  border:solid 2px white;
 
  border-radius:0px 0px 25px  0px;
  border-image-slice: 1;
}


#scriptstoria{
  position: absolute;
  font-size: 20px;
  top: 180px;
  list-style-type: none;
  padding: 15px;
  left:30px;
  right:30px;


}
#scriptstoria2{
  position:absolute;
  left: 30px;
  right:30px;
  top: 400px;
  color: #fbf7f7;
  font-size: 20px;
  list-style-type: none;   
  padding: 10px;
  border: solid 2px white;
  border-radius:0px 0px 25px  0px;
}       
                                            /*versione 2*/
 #versione2{
    position:absolute;
    left:380px;
    top: 550px;
    color:#fbf7f7 ;
    font-size: 20px;
    list-style-type: none;
    padding: 10px;
    border: solid 2px white;
    border-radius:0px 0px 25px  0px;
}

#scriptdocumenti{
  position:absolute;
  color:rgb(255, 255, 255);
  right:30px;
  left: 150px;
  top:220px;
  font-size:15px;
  text-align: right;
  padding-left: 300px;
  padding-right: 10px;
  width: 200px;
  height:200px;
}
#foto1 {
  position: absolute;
  top: 220px;
  left: 35px;
  height: 200px;
  width: 250px;
  border: solid 2px white;
  border-radius:0px 0px 25px  0px;
  margin-left: 3% auto;
  margin-right: 3% auto;
  
}


#descrizione1{
  display: block;
  position:absolute;
  color:rgb(255, 255, 255);
  text-align: left;
  top:220px;
  left:355px;
  line-height: 1.5em;
  max-width: 650px;
  overflow-wrap: break-word;
  margin-left: 3% auto;
  margin-right: 8% auto;
  
  margin-left: 3% auto;
  margin-right: 3% auto;
  
}


#foto2{
  position: absolute;
  top: 520px;
  right:  35px;
  height: 200px;
  width: 250px;
  border: solid 2px white;
  border-radius:0px 0px 25px  0px;
  margin-left: 3% auto;
  margin-right: 3% auto;
  
  margin-left: 3% auto;
  margin-right: 3% auto;
}

#descrizione2{
  display: block;
  position:absolute;
  color:rgb(255, 255, 255);
  text-align: right;
  top:520px;
  right: 355px;
  line-height: 1.5em;
  max-width: 650px;
  overflow-wrap: break-word;
  margin-left: 3% auto;
  margin-right: 8% auto;
  

  
}

#foto3{
  position: absolute;
  top: 820px;
  left: 35px;
  height: 200px;
  width: 250px;
  border: solid 2px white;
  border-radius:0px 0px 25px  0px;
  margin-left: 3% auto;
  margin-right: 3% auto;
  
  
}

#descrizione3{
  display: block;
  position:absolute;
  color:rgb(255, 255, 255);
  text-align: left;
  top:820px;
  left:355px;
  line-height: 1.5em;
  max-width: 650px;
  overflow-wrap: break-word;
  margin-left: 3% auto;
  margin-right: 8% auto;
}

#foto4{
  position: absolute;
  top: 1120px;
  right:  35px;
  height: 200px;
  width: 250px;
  border: solid 2px white;
  border-radius:0px 0px 25px  0px;
  border-image-slice: 1;
  margin-left: 3% auto;
  margin-right: 3% auto;
}

#descrizione4{
  display: block;
  position:absolute;
  color:rgb(255, 255, 255);
  text-align: right;
  top:1120px;
  right:355px;
  line-height: 1.5em;
  max-width: 650px;
  overflow-wrap: break-word;
  margin-left: 3% auto;
  margin-right: 8% auto;
}





.linea-separatrice {
  position: relative;
  border-top: 2px solid white;
  width: 90%;
  margin: 0 auto;
  top: 95px;
}

#consigliati {
  position: absolute;
  top: 0px;
  left: 53px;
  color: white;
  font-size: 30px;
}

#collaborazioni {
  position: relative;
  top:810px;

}

#logopp {
  position: absolute;
  top: -570px;
  left: -650px;
  scale: calc(0.12);
}

#logopp:hover {

    border: 10px solid rgb(153, 3, 3);
    transform: scale(1.);
}



#collaborazioni p {
    position: absolute;
  
}

#scriptcollab {
  position: absolute;
  top: 247px;
  left: 261px;
  color: white;
  font-size: 25px;
}


.docu{
position: relative;
color:#fafafa;
font-size: 17px;
top: 205px;
left: 15px;
margin-right: 10px;
max-width: 90%;
}

.docutitolo{
position: relative;
color: #fafafa;
font-size: 25px;
top: 210px;
left: 15px;
max-width: 90%;

}

#albero{
  position:relative;
  max-width: 80%;
  max-height: 25%;
  top: 230px;
  left: 90px;
  
}

#wtitolo{
position: relative;
color: #fafafa;
font-size: 25px;
top: 215px;
left: 15px;
max-width: 90%;
text-align: center;

}
#w1{
position: relative;
top: 200px;
left: 150px;
max-width: 80%;
max-height: 25%;
}


#w2{
  position: relative;
  top: 250px;
  left: 90px;
  max-width: 40%;
  max-height: 30%;
  }
  
  #w3{
    position: relative;
    top: 250px;
    left: 170px;
    max-width: 40%;
    max-height: 30%;
    }
   
    #w4{
      position: relative;
      top: 300px;
      left: 90px;
      max-width: 40%;
      max-height: 30%;
      }
      
      #w5{
        position: relative;
        top: 300px;
        left: 170px;
        max-width: 40%;
        max-height: 30%;
        }
        
  
        #w6{
          position: relative;
          top: 350px;
          left: 90px;
          max-width: 40%;
          max-height: 30%;
          }
          
          #w7{
              position: relative;
              top: 350px;
              left: 170px;
              max-width: 40%;
              max-height: 30%;
            }
            
            #w8{
                position: relative;
                top: 400px;
                left: 90px;
                max-width: 40%;
                max-height: 30%;
              }
              
              #w9{
                  position: relative;
                  top: 400px;
                  left: 170px;
                  max-width: 40%;
                  max-height: 30%;
                }
          

#lf{
position:relative;
top: 500px;
color: #fafafa;
font-size: 25px;
left: 15px;
max-width: 90%;
}

#lftext{
position: relative;
top: 520px;
color:#fafafa;
font-size: 17px;
left: 15px;
margin-right: 10px;
max-width: 90%;
}

#lstitolo{
position: relative;
color: #fafafa;
font-size: 25px;
top: 550px;
left: 15px;
max-width: 90%;

}

.lstext{
position: relative;
top: 570px;
color:#fafafa;
font-size: 17px;
left: 15px;
margin-right: 10px;
max-width: 90%;
}

#titolocom{
position:relative;
top: 610px;
color: #fafafa;
font-size: 25px;
left: 15px;
max-width: 90%;
}

#background{
position:relative;
top: 615px;
color: #fafafa;
font-size: 25px;
left: 15px;
max-width: 90%;
}
.btext{
position: relative;
top: 635px;
color:#fafafa;
font-size: 17px;
left: 15px;
margin-right: 10px;
max-width: 90%;
}

#oc{
position:relative;
top: 600px;
color: #fafafa;
font-size: 25px;
left: 15px;
max-width: 90%;
}

#octext{
  position: relative;
  top: 620px;
  color:#fafafa;
  font-size: 17px;
  left: 15px;
  margin-right: 10px;
  max-width: 90%;
}


.titf{
position:relative;
top: 670px;
color: #fafafa;
font-size: 25px;
left: 15px;
max-width: 90%;
}

.textf{
position: relative;
top: 675px;
color:#fafafa;
font-size: 17px;
left: 15px;
margin-right: 10px;
max-width: 90%;
}
#volantino{
  position:relative;
  top: 680px;
  left: 20px;
  max-width: 30%;
  max-height: 30%;
  }

#insta{
position: relative;
top: 680px;
max-width: 40%;
max-height: 40%;
}

#google{
position: relative;
top: 680px;
max-width: 50%;
max-height: 50%;
}

#telegram{
  position: relative;
  top: 690px;
  left:86px;
  max-width: 30%;
  max-height: 30%;
}
#meta{
position: relative;
top: 690px;
left:245px;
max-width: 30%;
max-height: 30%;
}  
