

/*SOLO PER LA PARTE FISSA*/

body{
  position:relative;
  margin: 0 auto;
  overflow-y: scroll;
  max-width: 1920px;
  height:2500px;
  width: 1920px;

  background:  rgb(0, 0, 0);
  border: solid 2px ;
  border-color: rgb(255, 255, 255);
  font-family: "Century Gothic", sans-serif;

}






#barradiricerca {
position: absolute;
margin:  auto;
width: 1920px;
height: 80px;
background-color: rgb(0, 0, 0);
top:0px;
left: 0;


}
#pags{
font-size: 30px;
position: absolute;
left:0px;
margin-top: 1.5%;

}


/*barra di ricerca canzone*/


/*barra di ricerca canzone*/
input[type="text"] {
  position: relative;
  text-align: center;
  left:1400px;
  top:2%;
  margin: 0 auto;
  border-radius: 200px;
  padding: 10px;
  width: 420px;
  background-color: rgb(0, 0, 0);
  border: solid 2px ;
  border-color: white;
  color:white;

}
/* Per browser WebKit come Chrome e Safari */
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #ffffff; /* Colore desiderato per il placeholder */
}

/* Per altri browser */
input::placeholder,
textarea::placeholder {
  color: #ffffff; /* Colore desiderato per il placeholder */
}

/*elenco*/
#elenco {
    
  position:absolute;
  overflow-y: scroll;
  top:78px;
  left:1388px;
  background-color:rgb(0, 0, 0);
  width: 350px;
  height:80px;
  border-radius: 0px 0px 25px 0px;
  border: solid 2px ;
  border-color: white;
  padding: 50px;
  z-index: 999999;

}
.titoli{
   list-style-type: disc;
  margin-bottom: 10px;
}
nav ul {
  list-style-type: none;
}

nav li {
  display: inline-block;
  margin-right: 20px;
  color:rgb(0, 0, 0);
  text-decoration: none;
}

a:hover {
  /*COLORE LINK*/
  color: rgb(100, 0, 0);
}

/*SOLO TITOLI IN GRANDE*/

#titolo{
  position:absolute;
  top:110px;
  left:35px;
  color: white;
}

/*IMPOSTAZIONI GRAFICA SCHEDE*/



#titoloalbum{
    position:absolute;
    color:white;
    left:35px;
    top:545px;
    font-size:35px;
    text-align: left;
}

#descrizionetesto{  
  display: block;
  position:absolute;
  color:rgb(255, 255, 255);
  text-align: left;
  left:35px;
  top:600px;
  font-size:25px;
  line-height: 1.5em;
  max-width: 42%;
  overflow-wrap: break-word;
  margin-left: 3% auto;
  margin-right: 8% auto;
}

#nomeautore{
    position:absolute;
    color:rgb(255, 255, 255);
    right:35px;
    top:545px;
    font-size:35px;
    text-align: right;
}


#descrizioneautore{

  display: block;
  position:absolute;
  color:rgb(255, 255, 255);
  text-align: right;
  right:35px;
  top:600px;
  font-size:25px;
  line-height: 1.5em;
  max-width: 42%;
  overflow-wrap: break-word;
  margin-left: 3% auto;
  margin-right: 8% auto;

}

 

#autore{
  position: absolute;
  top: 250px;
  right: 35px;
  max-width: 15%;
  max-height: 15%;
  border: solid 2px;
  border-color: white; 

  margin-left: 3% auto;
  margin-right: 3% auto;
}
#album{
  position: absolute;
  top: 250px;
  left: 35px;
  max-width: 15%;
  max-height: 15%;
  border: solid 2px;
  border-color: white; 
  margin-left: 3% auto;
  margin-right: 3% auto;

}
#album:hover {
  border: 3px solid rgb(131, 1, 1);
  transform: scale(1.1);
}

#ascoltaora{
  display: block;
  position:absolute;
  color:rgba(255, 255, 255, 0.133);
  top: 200px;
  left: 35px;
  font: size 13px;
}




/*MOBILE*/

