#ops{
  position: relative;
  font-size: xx-large;
  text-align: center;
  color:white;
  top: 500px;
  margin:0 auto;
}
#giacomo {
  position: absolute;
  left: 35px;
  top: 250px;
  color: #fafafa;
  font-size: 25px;
}

#descrizionegia {
  position: absolute;
  left: 35px;
  top: 275px;
  color: #ffffff;
  font-size: 25px;
}

#francesca {
  position: absolute;
  left:35px;
  top: 355px;
  color: #ffffff;
  font-size: 25px;
}

#descrizionefra {
  position: absolute;
  left:35px;
  top: 380px;
  color: #ffffff;
  font-size: 25px;
}

#contattaci{
  position: absolute;
  left:35px;
  top: 600px;
  color: #ffffff;
  font-size: 25px;
}
#contattaci2{
  position: absolute;
  left:35px;
  top: 640px;
  color: #ffffff;
  font-size: 25px;
}


#contentS {
  position: absolute;
  left: 0px;
  top: 50px;
  color: #fbf7f7;
  font-size: 20px;
  list-style-type: none;
}

#scriptstoria {
  position: absolute;
  left: 235px;
  right:235px;
  color:#fbf7f7;
  font-size: 20px;
  list-style-type: none;
  padding-left: 6%;
  padding-right: 6%;
  border:solid 2px white;
 
  border-radius:0px 0px 25px  0px;
  border-image-slice: 1;
}


#scriptstoria{
  position: absolute;
  font-size: 20px;
  top: 180px;
  list-style-type: none;
  padding: 15px;
  left:30px;
  right:30px;


}
#scriptstoria2{
  position:absolute;
  left: 30px;
  right:30px;
  top: 400px;
  color: #fbf7f7;
  font-size: 20px;
  list-style-type: none;   
  padding: 10px;
  border: solid 2px white;
  border-radius:0px 0px 25px  0px;
}       
                                            /*versione 2*/
 #versione2{
    position:absolute;
    left:380px;
    top: 550px;
    color:#fbf7f7 ;
    font-size: 20px;
    list-style-type: none;
    padding: 10px;
    border: solid 2px white;
    border-radius:0px 0px 25px  0px;
}

#scriptdocumenti{
  position:absolute;
  color:rgb(255, 255, 255);
  right:30px;
  left: 150px;
  top:220px;
  font-size:15px;
  text-align: right;
  padding-left: 300px;
  padding-right: 10px;
  width: 200px;
  height:200px;
}
#foto1 {
  position: absolute;
  top: 220px;
  left: 35px;
  height: 200px;
  width: 250px;
  border: solid 2px white;
  border-radius:0px 0px 25px  0px;
  margin-left: 3% auto;
  margin-right: 3% auto;
  
}


#descrizione1{
  display: block;
  position:absolute;
  color:rgb(255, 255, 255);
  text-align: left;
  top:220px;
  left:355px;
  line-height: 1.5em;
  max-width: 650px;
  overflow-wrap: break-word;
  margin-left: 3% auto;
  margin-right: 8% auto;
  
  margin-left: 3% auto;
  margin-right: 3% auto;
  
}


#foto2{
  position: absolute;
  top: 520px;
  right:  35px;
  height: 200px;
  width: 250px;
  border: solid 2px white;
  border-radius:0px 0px 25px  0px;
  margin-left: 3% auto;
  margin-right: 3% auto;
  
  margin-left: 3% auto;
  margin-right: 3% auto;
}

#descrizione2{
  display: block;
  position:absolute;
  color:rgb(255, 255, 255);
  text-align: right;
  top:520px;
  right: 355px;
  line-height: 1.5em;
  max-width: 650px;
  overflow-wrap: break-word;
  margin-left: 3% auto;
  margin-right: 8% auto;
  

  
}

#foto3{
  position: absolute;
  top: 820px;
  left: 35px;
  height: 200px;
  width: 250px;
  border: solid 2px white;
  border-radius:0px 0px 25px  0px;
  margin-left: 3% auto;
  margin-right: 3% auto;
  
  
}

#descrizione3{
  display: block;
  position:absolute;
  color:rgb(255, 255, 255);
  text-align: left;
  top:820px;
  left:355px;
  line-height: 1.5em;
  max-width: 650px;
  overflow-wrap: break-word;
  margin-left: 3% auto;
  margin-right: 8% auto;
}

#foto4{
  position: absolute;
  top: 1120px;
  right:  35px;
  height: 200px;
  width: 250px;
  border: solid 2px white;
  border-radius:0px 0px 25px  0px;
  border-image-slice: 1;
  margin-left: 3% auto;
  margin-right: 3% auto;
}

#descrizione4{
  display: block;
  position:absolute;
  color:rgb(255, 255, 255);
  text-align: right;
  top:1120px;
  right:355px;
  line-height: 1.5em;
  max-width: 650px;
  overflow-wrap: break-word;
  margin-left: 3% auto;
  margin-right: 8% auto;
}


#docu{
  display: block;
  position:absolute;
  color:rgb(255, 255, 255);
  text-align: right;
  left:35px;
  top:300px;
  font-size:25px;
  line-height: 1.5em;
  max-width: 42%;
  overflow-wrap: break-word;
  margin-left: 3% auto;
  margin-right: 8% auto;
  color: white;
}