#giacomo {
  position: absolute;
  left: 35px;
  top: 250px;
  color: #fafafa;
  font-size: 25px;
}

#descrizionegia {
  position: absolute;
  left: 35px;
  top: 275px;
  color: #ffffff;
  font-size: 25px;
}

#francesca {
  position: absolute;
  left:35px;
  top: 355px;
  color: #ffffff;
  font-size: 25px;
}

#descrizionefra {
  position: absolute;
  left:35px;
  top: 380px;
  color: #ffffff;
  font-size: 25px;
}

#contattaci{
  position: absolute;
  left:35px;
  top: 600px;
  color: #ffffff;
  font-size: 25px;
}
#contattaci2{
  position: absolute;
  left:35px;
  top: 640px;
  color: #ffffff;
  font-size: 25px;
}


#contentS {
  position: absolute;
  left: 0px;
  top: 50px;
  color: #fbf7f7;
  font-size: 20px;
  list-style-type: none;
}

#scriptstoria {
  position: absolute;
  left: 235px;
  right:235px;
  color:#fbf7f7;
  font-size: 20px;
  list-style-type: none;
  padding-left: 6%;
  padding-right: 6%;
  border:solid 2px white;
 
  border-radius:0px 0px 25px  0px;
  border-image-slice: 1;
}


#scriptstoria{
  position: absolute;
  font-size: 20px;
  top: 180px;
  list-style-type: none;
  padding: 15px;
  left:30px;
  right:30px;


}
#scriptstoria2{
  position:absolute;
  left: 30px;
  right:30px;
  top: 400px;
  color: #fbf7f7;
  font-size: 20px;
  list-style-type: none;   
  padding: 10px;
  border: solid 2px white;
  border-radius:0px 0px 25px  0px;
}       
                                            /*versione 2*/
 #versione2{
    position:absolute;
    left:380px;
    top: 550px;
    color:#fbf7f7 ;
    font-size: 20px;
    list-style-type: none;
    padding: 10px;
    border: solid 2px white;
    border-radius:0px 0px 25px  0px;
}




.docu{
position: relative;
color:#fafafa;
font-size: 17px;
top: 205px;
left: 15px;
margin-right: 10px;
max-width: 90%;
}

.docutitolo{
position: relative;
color: #fafafa;
font-size: 25px;
top: 210px;
left: 15px;
max-width: 90%;

}

#albero{
  position:relative;
  max-width: 80%;
  max-height: 25%;
  top: 230px;
  left: 90px;
  
}

#wtitolo{
position: relative;
color: #fafafa;
font-size: 25px;
top: 215px;
left: 15px;
max-width: 90%;


}
#w1{
position: relative;
top: 200px;
left: 7px;
max-width: 80%;
max-height: 25%;
}


#w2{
position: relative;
top: 352px;
left: 90px;
max-width: 40%;
max-height: 30%;
  }
  
  #w3{
 position: relative;
 top: 307px;
 left: 17px;
 max-width: 40%;
 max-height: 30%;
    }
   
    #w4{
   position: relative;
    top: 308px;
    left: 166px;
      max-width: 40%;
      max-height: 30%;
      }
      
      #w5{
    position: relative;
    top: 323px;
    left: 15px;
    max-width: 40%;
    max-height: 30%;
        }
        
  
        #w6{
        position: relative;
        top: 314px;
        left: 163px;
        max-width: 40%;
        max-height: 30%;
          }
          
          #w7{
       position: relative;
       top: 347px;
       left: 15px;
       max-width: 40%;
        max-height: 30%;
            }
            
            #w8{
      position: relative;
      top: 346px;
      left: 162px;
      max-width: 40%;
      max-height: 30%;
              }
              
              #w9{    
       position: relative;
       top: 400px;
       left: 318px;
       max-width: 40%;
       max-height: 30%;
                }
          

#lf{
position:relative;
top: 500px;
color: #fafafa;
font-size: 25px;
left: 15px;
max-width: 90%;
}

#lftext{
position: relative;
top: 520px;
color:#fafafa;
font-size: 17px;
left: 15px;
margin-right: 10px;
max-width: 90%;
}

#lstitolo{
position: relative;
color: #fafafa;
font-size: 25px;
top: 550px;
left: 15px;
max-width: 90%;

}

.lstext{
position: relative;
top: 570px;
color:#fafafa;
font-size: 17px;
left: 15px;
margin-right: 10px;
max-width: 90%;
}

#titolocom{
position:relative;
top: 610px;
color: #fafafa;
font-size: 25px;
left: 15px;
max-width: 90%;
}

#background{
position:relative;
top: 615px;
color: #fafafa;
font-size: 25px;
left: 15px;
max-width: 90%;
}
.btext{
position: relative;
top: 635px;
color:#fafafa;
font-size: 17px;
left: 15px;
margin-right: 10px;
max-width: 90%;
}

#oc{
position:relative;
top: 600px;
color: #fafafa;
font-size: 25px;
left: 15px;
max-width: 90%;
}

#octext{
  position: relative;
  top: 620px;
  color:#fafafa;
  font-size: 17px;
  left: 15px;
  margin-right: 10px;
  max-width: 90%;
}


.titf{
position:relative;
top: 670px;
color: #fafafa;
font-size: 25px;
left: 15px;
max-width: 90%;
}

.textf{
position: relative;
top: 675px;
color:#fafafa;
font-size: 17px;
left: 15px;
margin-right: 10px;
max-width: 90%;
}


#insta{
position: relative;
top: 680px;
max-width: 40%;
max-height: 40%;
}

#google{
position: relative;
top: 680px;
max-width: 50%;
max-height: 50%;
}

#telegram{
  position: relative;
  top: 690px;
  max-width: 30%;
  max-height: 30%;
left: 100px;
}

#meta{
  position: relative;
  top: 690px;
  max-width: 40%;
  max-height: 40%;
left: 130px;
}

